name: Get New Package Versions

on:
  # TODO: replace with reasonable cron schedule
  schedule:
    - cron: '*/10 * * * *'

jobs:
  create-prs:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v4
      - name: update the packages.txt
        run: echo "numpy==2.3.5" >> packages.txt
      - name: create PR
        id: create-pr
        uses: peter-evans/create-pull-request@v8
        with:
          add-paths: packages.txt
          commit-message: Automatic build
          title: Automatic build
          branch-suffix: short-commit-hash
          delete-branch: true
          base: main
          labels: |
            automated build
      # automerge
      # - name: enable PR automerge
      #   if steps.create-pr.outputs.pull-request-operation == 'created'
      #   uses: peter-evans/enable-pull-request-automerge@v3
      #   with:
      #     pull-request-number: ${{ steps.create-pr.outputs.pull-request-nubmer }}
      #     merge-method: rebase
